@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .roboto-bolds {
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-style: normal;
  }
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.navbar-upside-color{
    background-color: chocolate;
    height: 10px;
    width: 100%;
 
}
.navbar{
    background-color: #343434;
    height: 120px ;
    padding-top: 10px  !important;
}
.navbar-location,.navbar-clock,.navbar-mail{
    display: flex;
}
.navbar-location p,.navbar-clock p,.navbar-mail p{
    margin-left: 5px;
    color: #B3B3B3;
    font-size: 14px;
}

.navbar-icon{
    margin-top: 4px;
    color: chocolate;
    font-size: 18px;
}
.navbar-icon-clock{
    margin-top: 5px;
    color: chocolate;
    font-size: 14px;
}

.navbar-mail p:hover{
color: chocolate !important;
transition: .6s ease !important;
}
.social-icon{
    color: #fff;
}
.social-icon:hover{
    color: chocolate !important;
    transition: .6s ease !important;
}
.navbar-2{
    background-color: transparent !important; 
    z-index: 99 !important;
 
}
.online-section{
    padding-top: 700px;
}
.image-slider{
    background: url('/assets/images/introduction-slider/slider1.jpg') !important;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-position: center !important;

    background-repeat: no-repeat !important;
   

    
}
.image-slider-1{
    background: url('/assets/images/introduction-slider/slider2.jpg') !important;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-position: center !important;

    background-repeat: no-repeat !important;
}
.text{
  
    flex-direction: column !important;

    
}
.text h3{
    color: chocolate;
}
.nav-link:hover{
    color: #E16900 !important;
}
.mySwiper{
    position: absolute  !important;
    z-index: 1 !important;
    width: 100%;
    margin-top: -121px;
}
.discover-btn{
    background-color: #FB7500;
    display: inline-flex;
    border: 0;
    color: #fff;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 17px;
    font-weight: 700;
    transition: background-position 0.5s ease; 
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #E16900 50%, #FB7500 50%);
    background-position: right bottom;
    
}

.discover-btn:hover {
    background-position: left bottom;
}

.swiper-button-next, .swiper-button-prev {
    background-color: white; 
    border-radius: 50%; 
    padding: 30px; 
    width: 30px !important; 
    height: 50px !important; 
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    color: black !important;

  }
  
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 30px !important; 
  }
  .swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: #E16900;
    transition: .6s ease;
    color: #fff !important;
  }
.search-icon{
    font-size: 40px;
}
.search-linear{
    border: 0.5px solid #fff;
}

.menu{
    font-size: 40px;
    border: none !important;
}
.menu-buton{
    background-color: transparent;
}
.fixed-nav {
    position: sticky  !important;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #000 !important;
    animation: slideDown 1s ease-in-out forwards;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  

  
  
.orange-linear{
    border: 2px solid orange;
    width: 30px;
}
.online-left-side :nth-child(2){
    font-size: 18px;
    color: #737373;
}
.online-left-side h4{
    color: #E16900;
    margin-top: 30px;
    font-weight: 400;
    

}
.online-left-side p{
    color: #737373;
    font-size: 17px;

}
.car-icon{
    font-size: 50px;
   
}
.car-logo{
    background-color: #E16900;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.car-logo:hover{
    background-color: #000;
    transition: .6s ease;
    color: #fff;
}
.car-logo-h4{
    margin-top: -1px !important;
    font-size: 20px !important;
    color: #000 !important;
    font-weight: 600 !important;
    margin-left: 20px;
}
.online-right-side img{
    width: 100%;
}
.contact-linear{
    border: 1.5px solid #dedede;
    width: 600px;
}
.questions{
    color: #868686;
}
body::-webkit-scrollbar {
    display: none;  
  }
  .ustdeki-logo{
    background-color: #fff !important;
    position: absolute;
    left: -80px;
    bottom: 40px !important;
    width: 450px;
    border-radius: 40px;
    height: 200px;
    border: 1px solid #dedede;
  }
  .ustdeki-logo h3{
    margin-left: 40px !important;
  }
  .altdaki-logo {
    position: relative;
  }
.ustdeki-logo-png{
    width: 130px !important;
    height: 130px;
    margin-top: 10px;
    margin-left: 30px;
}
.more-than{
    font-weight: 450;
}
.awards{
    background-color: #f0f0f0;
}
.car-award-logo{
    width: 100px;
}
.award p{
    color: #7B7B7B;

}
.bridge-linear{
    width: 4px;
    height: 210px;
    background-color: #dedede;
    margin-top: -180px;
    position: absolute;
    right: 13px;

}

.award {
    position: relative;
    background-color: #f0f0f0; /* Başlangıç rengi */
    overflow: hidden;
}

.award::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Hedef arka plan rengi */
    transition: all 0.5s ease;
    z-index: 0;
    border: 5px;
}

.award:hover::before {
    top: 0;
}

.award * {
    position: relative;
    z-index: 1;
}

.worker-linear{
   background-color: #E16900;
    width: 20px;
    height: 3px;
   display: flex;
   margin: auto;
   
}
.card-workers h4{
    color: #737373;

}
.card-title{
    color: #737373 !important;
    font-weight: 600 !important;
 
}
.card{
    height: 700px !important;
    position: relative;
   
}
.card-man{
    width: 90px;
    position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
border: 6px solid #fff;
}
.card-name{
    color: chocolate !important;
    text-align: center;
}
.card-body h2{
    font-weight: 400;
}
.card-text{
    color: #737373 !important;
    font-weight: 500 !important;
    

}
.worker-price{
    background-color: #F1F1F1 !important;
}
.worker-price {
    border-radius: 40px;
}
.price-dollar{
    color: #FB7500;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  }
  
 .teacher-linear{
    width: 40px;
    background-color: #E16900;
    height: 5px !important;
    margin-top: 140px;
    border-radius: 20px;
 }
 .teacher{
    background-image: url('/assets/images/online/teacher.jpg');
    width: 100%;
     background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    opacity: #000 .1;
    background-color: rgba(0, 0, 0, 0.6); /* Siyah yarı saydam katman */
    background-blend-mode: overlay; /* Resmi karanlıklaştırır */  



 }
  .teacher-text-left-side h1{
    color: #fff !important;
    font-size: 46px;
  }
  
  .teacher-text-left-side p{
    color: #B3B3B3;
    font-size: 18px;
  }
  .teacher-text-right-side{
    background-color: #FB7500;
    width: 300px !important;
    height: 352px !important;
    border-radius: 7px;
  }
  .player-button{
    font-size: 80px;
    margin-left: 30px;

   
    margin-top: 50px;
  }
  .right-side-text h2{
    margin-left: 30px;
    padding-top: 30px;
  }
  .linear{
    border: 1px solid #B3B3B3;
    margin-top:     130px;
  }
  .academic-papka{
    font-size: 50px;
  
  }
  .academic-logo{
    background-color: #E16900;
    width: 90px !important;
    height: 90px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .academic-logo:hover{
    background-color: #fff ;
    transition: .6s ease;
  color: #000 !important;  

  }
  .academic-logo:hover .academic-papka {
    color: #E16900 !important;
  }
  .lorem-h5{
    color: #B3B3B3;
  }
  .trailer{
    background-image: url('/assets/images/online/bg-2.jpg');
    width: 100%;
    height: 232px;
    margin-top: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    

  }
  .trailer-text,.trailer-text-2{
    display: grid;
   place-items: center;

    height:100%;
   
  }
  .trailer-text{
    padding-top: 20px;
  }
  .trailer-text-2{
    margin-top: -100px;
  }
  .driver-linear{
    width: 30px;
    background-color: #FB7500;
    height: 4px;

  }
  .selling-left-side p{
    color: #B3B3B3 ;
    font-weight: 600;
 
  }
  .selling-left-side h1{
    font-size: 46px;
  }
  .skills-right{
    background-color: #E16900;
    width: 30px !important;
    height: 30px  !important;
    border-radius: 50%;
    font-size: 10px !important;
    color: #fff;
  }
  .rider-skills h5{
    margin-left: 20px;
    padding-top: 6px;
    margin-top: 1px;

  }
  .faiz-bar {
    background: #f0f0f0 !important;
    width: 370px !important;
    height: 17px;
    border-radius: 40px;
    position: relative;
  }
  
  .faiz-dolma {
    background: #E16900 !important;
    width: 0  ;
    height: 17px !important;
    border-radius: 40px;
    animation: faiz-dolma 3s ease-in-out infinite !important;
  }
  
  @keyframes faiz-dolma {
    from {
      width: 0;
    }
    to {
      width: 100px !important;
    }
  }
  .faiz-text h6{
    margin-left: 300px;
  }
  .shape-figure{
    position: absolute;
    left: 1px;
    top: 112px;
    opacity: .6;
  }
 .selling-right-side{
    position: relative;
 }
 .bubble-div{
    position: absolute !important;
    top: 313px;
    background-color: #fff;
    width: 150px;
    height: 150px;
   
    border-radius: 50%;
 }
 .boss-card{
  background-image: url('/assets/images/online/arxa.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
 }
 .card-mudur{
  background-color: #fff !important;
  width: 400px !important;
  height: 440px !important;
  border-radius: 20px;
  border: 1px solid #dedede;
  padding: 30px;
 }

 .card-mudur:hover{
  transform: scale(1.06);
  transition: .6s ease;
border: none;

 }
 .card-mudur{
 margin-top: 140px;
 }
 .card-boss-title{
  font-size: 18px;
  line-height: 36px;
  color: #737373;
  font-weight: 400;
  margin-bottom: 30px !important;
  padding-top: 40px;
  
}


 .boss-texts {
  margin-top: 10px;
 }
.boss-texts p{
  color: #E16900;
  font-weight: 500;
}
 .footer{
  background-color: #212121;
  padding-top: 100px;

 }
 .facacebook,.fatwiter,.fainsta,.falink{
color: #fff;
font-size: 24px;

 }
 .social-media{
  background-color: #343434;
  width: 57px !important;
  height: 56px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  
 }
 .social-media:hover{
  background-color: chocolate;
  transition: .6s ease;
 }
 .social-medias{
  display: flex !important;
 }
.footer-link{
  color: #868686 !important; 
  
}
.fotor{
  line-height: 40px;
}
.orange-linear{
  background-color: chocolate;
  height: 7px;
  width: 100%;
  border: none;
}
.footer-final{
  background-color: #343434;
}
.header-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(min-width:319px ) and (max-width:370px){
    .social-media-icons{
       display: none;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none !important;
    }
    .text{
        padding-top: 200px;
    }
    .trafic-rules{
        margin-right: 200px;

    }
    .trafic-rules{
        flex-direction: column !important;
    }
   
   .car-logo-and-text{
    margin-left: 170px
   }
   .car-logo-text {
    padding-top: 42px;
   }
   .car-logos{
    margin-top: 30px;
   }
   .car-icon{
    font-size: 40px;
   }
   .car-logo{
    width: 120px;
   }
   .car-logo-h4{
    font-size: 25px !important;
    margin-left: 50px;
   }
   .online-section{
    padding-top: 450px;
}
.contact-linear{
    border: 1.5px solid #dedede;
    width: 200px;
}
.ustdeki-logo{
    width: 100% !important;
    left: 0.1px;
    bottom: 10px !important;
}
.online-right-side{
    padding-top: 100px;
  }
  .trafic-rules{
    margin-top: 70px;
  }
  .card-man{
    top: 35%;

}
.faiz-bar{
    background: #f0f0f0 !important;
    width: 290px !important;
    height: 17px;
    border-radius: 40px;
    position: relative;
 }
  
  .faiz-dolma{
    background: #E16900 !important;
    width: 200px !important;
    height: 17px !important;
    border-radius: 40px;
    animation: faiz-dolma 3s ease-in-out forwards !important;

  }
  .faiz-text h6{
  margin-left: 270px;
  }
  .bubble-div{
    display: none;
  }
  .bubble-div{
    display: none;
  }
  .shape-figure{
    display: none;
  }
}

@media (min-width:371px ) and (max-width:767px){
    .social-media-icons{
        display: none;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none !important;
    }
    .text{
        padding-top: 240px;
    }
    .car-icon{font-size: 30px !important;}
    .car-logo-text{padding-top: 10px;}
    .car-logo{width: 70px !important;height: 70px;}
    .car-logos{margin-top: 10px;}
    .contact-linear{
        border: 1.5px solid #dedede;
        width: 200px;
    }
   
  .online-right-side{
    padding-top: 100px;
  }
  .trafic-rules{
    margin-top: 70px;
  }
  .car-logo-h4{
    margin-top: 8px !important;
  }
  .ustdeki-logo{
    width: 100% !important;
    left: 0.3px;
  }
  .card-man{
    top: 35%;

}
.teacher{
    height: auto;
}
.teacher-text-right-side {
    margin-top: 50px !important;
}
.trafic-skills-section {
    flex-direction: column !important;
}
.bubble-div{
  display: none;
}
.shape-figure{
  display: none;
}
}
@media(min-width:768px) and (max-width:990px){
    .social-media-icons{
        display: none;
    }
   
    .navbar-location p,.navbar-clock p,.navbar-mail p{
        font-size: 25px;
        margin-left: 15px;
    }
    .navbar-icon{
        font-size:30px !important;
    }
    .navbar-icon-clock{
        font-size: 30px;
    }
    .navbar{
        background-color: #343434;
        height: 170px ;
        padding-top: 15px  !important;
    }
    
  
    .mySwiper{
        margin-top: -239px;
    }
   
    .swiper-button-next, .swiper-button-prev{
        display: none !important;
    }
    .text{
        padding-top: 350px;
    }
    .text h3{
        font-size: 30px;
    }
    .text h1{
        font-size: 45px !important;
    }
    .car-icon{
        font-size: 35px !important;

    }
    .car-logo{
        width: 90px;
        height: 90px;
    }
    .contact-linear{
        display: none;
    }
.ustdeki-logo{
   width: 100%; 
   left: 1px;
}
.bridge-tablet{
    display: none;
}
.academic-logo{
    width: 100% !important;
}
.bubble-div{
  display: none;
}
.shape-figure{
  display: none;
}
}
@media(min-width: 991px){
.navbar-links{
    display: flex;
}

.navbar-location,.navbar-clock,.navbar-mail {
    margin-top: 20px;
}
.navbar{
    height: 60px !important;
    padding-top: 0px !important;
}
.navbar-clock ,.navbar-mail {
    margin-left: 24px;
}
.social-media-icons{
    font-size: 20px;
    color: white;
}
.social-icon{
    margin-right: 20px;
}
.image-slider{
    background: url('/assets/images/introduction-slider/slider1.jpg') !important;
    height: 100vh;
    width: 100%;
    object-fit: cover;
   
}
.mySwiper {
    width: 100%;
    margin-top: -100px;
    
  }
.text h1{
font-size: 80px;
font-weight: 1000 !important;
}
.text{
    padding-top: 240px;
}
.menu {
    display: none;
}
.online-right-side img{
    width: 500px;
}
.car-logos{
    margin-left: 35px;
}
.ustdeki-logo{
    left: -35px !important;
    }
    .card-man{
        top:40%;

    }
    .teacher-text-right-side{
        margin-left: 200px;
    }
    .trafic-skills-common-part{
        display: flex;
    }
    .trafic-skills-common-2{
    margin-left:40px;
    }
    .faiz-bar {
      background: #f0f0f0 !important;
      width: 480px !important;
      height: 17px;
      border-radius: 40px;
      position: relative;
    }
    
    .faiz-dolma {
      background: #E16900 !important;
      width: 0  ;
      height: 17px !important;
      border-radius: 40px;
      animation: faiz-dolma 3s ease-in-out forwards !important;
    }
    
    @keyframes faiz-dolma {
      from {
        width: 0;
      }
      to {
        width: 300px;
      }
    }
      .faiz-text h6{
        margin-left: 440px;
      }
}

@media(min-width:995px) and (max-width:1300px){
    .online-section{
        padding-top: 770px;
    }

    .car-logo-text{
        padding-top: 24px;
    }
    .contact{
    margin-top: -100px  !important; 
    }
    .contact-linear{
        width: 500px;
    }
.ustdeki-logo{
left: 30px;
}
.card-man{
    top: 34%;

}
.faiz-bar{
    background: #f0f0f0 !important;
    width: 500px !important;
    height: 17px;
    border-radius: 40px;
    position: relative;
 }
  
  .faiz-dolma{
    background: #E16900 !important;
    width: 350px !important;
    height: 17px !important;
    border-radius: 40px;
    animation: faiz-dolma 3s ease-in-out forwards !important;

  }
  @keyframes faiz-dolma {
    from {
      width: 0;
    }
    to {
      width: 300px;
    }
  }
  .faiz-text h6{
    margin-left: 450px;

  }
}